#name-style {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  }

 a{
  color: #03d5ff;
 }

  a:hover{
    color: #ea00ff;
  }
